:root{
	--font-family: "Kanit", sans-serif;
	--font-family-2: "Inter", sans-serif;
	--color-orange: #FF6000;
	--color-blue: #2079C7;
	--color-grey: #F3F3F3;
}
/* roots and utils*/
body{
	font-family: var(--font-family);
	font-weight: 400;
}
.ff-inter{
	font-family: 'Inter';
}
.container-fluid{
	padding: 0 60px;
}
.text-orange{
	color: var(--color-orange);
}
.text-corp{
	color: var(--color-blue);
}
.bg-blue{
	background: var(--color-blue);
}
.bg-light-grey{
	background: var(--color-grey);
}
.fs-title{
	font-size: 60px;
}
.fs-title-2{
	font-size: 30px;
}
.fs-title-3{
	font-size: clamp(22px, 2vw, 56px);
}
.fs-paragraph{
	font-size: 18px;
}
.fs-paragraph-2{
	font-size: 22px;
}
.fs-paragraph-3{
	font-size: 22px;
}
.fs-paragraph-4{
	font-size: clamp(18px, 2vw, 46px);
}
.fs-7{
	font-size: 0.9rem;
}
.fw-medium{
	font-weight: 500;
}
.btn{
	color: white;
	font-size: 18px;
	font-weight: 500;
	padding: 10px 80px;
	border: 2px solid white;
	border-radius: 100px;
}
.btn:hover{
	color: var(--color-blue);
	background: white;
}
.h-fit-content{
	height: fit-content;
}
.w-lg-55{
	width: 55%;
}
a{
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}
.navbar-toggler:focus {
	box-shadow: none;
}
.dropdown-menu{
	--bs-dropdown-min-width: unset;
	--bs-dropdown-border-radius: unset;
	padding-top: 0;
	padding-bottom: 0;
}
.min-width-250{
	min-width: 250px;
}
.dropdown-toggle::after{
	display: none;
}
.w-fit-content{
	width: fit-content;
}
.form-control {
	border: none;
	border-bottom: 2px solid rgba(255,255, 255, 0.7);
	border-radius: 0;
	padding-left: 0;
	background: transparent;
}
.form-control-dark-text{
	border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.form-control::placeholder {
	color: rgba(255, 255, 255, 0.2);
	font-weight: 300;
}
.form-control-dark-text::placeholder {
	color: rgba(0, 0, 0, 0.2);
}
.form-control:focus {
	box-shadow: unset;
	border-color: black;
}

.form-check-input:checked {
	background-color: transparent;
	border-color: white;
}

.form-check-input:focus {
	box-shadow: none;
}
.form-check-input[type=checkbox] {
	border-radius: unset; 
}

.btn-white{
   background: white;
   color: var(--color-blue);
}
.btn-white:hover{
	background: var(--color-orange);
}
.dropdown-item.active,
.dropdown-item:active {
	background-color: unset;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: var(--color-blue);
	background-color: unset;
}
/*contents*/
.main-header{
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	color: white;
}
.nav-link{
	font-size: 18px;
	color: unset;
}
.link-custom.nav-link:hover, .link-custom.nav-link:focus{
	color: rgba(255, 255, 255, 0.664);
}
.navbar-nav{
	border-bottom: 1px solid rgb(255, 255, 255);
}
.navbar-collapse {
	align-items: unset;
}
.description-box{
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
}
.bg-wave{
	background-image: url('icons/wave.svg') ;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -160px;
	z-index: 3;
	position: relative;
	padding-bottom: 100px;
}
.bg-wave-2{
	background-image: url('img/bg-vawe-2.png');
	background-size: cover;
	padding-bottom: 260px;
	background-repeat: no-repeat;
	margin-top: -180px;
	z-index: 3;
}
.m-custom{
	padding-bottom: 200px;
}
.navbar-toggler-custom.navbar-toggler-icon{
	background-image: url('icons/codicon_menu.svg');
}
.collapse-dark{
   background: black; 
   opacity: 0;
   transition: all 0.3s ease;
}
.collapse-dark.show{
	opacity: 1;
}
.slider-buttons-box{
	z-index: 2;
	right: 5%;
	top: 65%;
}
.icons-bg{
	background: white;
	padding: 22px 20px;
	border-radius: 50%;
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);

}
.icon{
	width: 60px;
	height: 52px;
}
.btn-banner{
	background: transparent;
	color: white;
	outline: 3px solid white;
	border: none;
	border-radius: 50%;
	padding: 0 9px;
	font-size: 20px;
	z-index: 4;
}
.prev-item{
	position: absolute;
	left: 5%;
	top: 45%;
}
.next-item{
	position: absolute;
	right: 5%;
	top: 45%;
}
.round-left{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.slick-dots li button:before{
	font-size: 20px;
}
.slick-dots{
	bottom: -10px;
}
.tour-img{
	height: 100%;
}
.prev-service{
	top: 50%;
	left: 5%;
}
.next-service{
	top: 50%;
	right: 5%;
}
.service-description{
	z-index: 6;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
.service-title{
	top: 30%;
	z-index: 6;
	left: 50%;
	transform: translate(-50%, -50%);
}
.destionation-card{
	height: 500px;
	width: 90%;
	border-radius: 30px;
}
.btn-blue{
	color: white;
	font-weight: 200;
	background: var(--color-blue);
	outline: none;
	border: none;

}
.btn-blue:hover{
	background: var(--color-orange);
	color: white;
}
.testimonial-card{
	width: 90%;
	border-radius: 30px;
	box-shadow: 0 0 5px 2px #2079c7;
	padding: 30px;
	text-align: center;
}
.servise{
	margin-top: -70px;
    z-index: 10;
    position: relative;
}
.prev-card, .next-card{
	color: var(--color-orange);
	outline: 3px solid var(--color-orange);
	position: absolute;
}
.prev-card{
	right: 8%;
	top: 4%;
}
.next-card{
	right: 4%;
	top: 4%;
}
.footer-nav-title{
	font-weight: 600;
	font-size: 20px;
	color: white;
}
.footer-link{
	color: white;
	font-size: 18px;
	font-weight: 200;
	text-decoration: none;
}
.footer-link:hover{
	color: #74BEFF;
	text-decoration: underline;
}
.banner-title-box{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.white-line{
	height: 1px;
	background-color: #D9D9D9;
	width: 540px;
}
.accordion-button:not(.collapsed) {
	background-color: var(--color-blue);
	color: white;
	box-shadow: none;
}
.accordion-button:focus {
	box-shadow: unset;
}
.accordion-button{
	background-color: #F6F7F8;
	border-radius: 20px !important;
}
.accordion-collapse{
	background: #F6F7F8;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.accordion-item{
	border: unset;
}
.accordion-button:not(.collapsed){
	border-bottom-right-radius: unset !important;
	border-bottom-left-radius: unset !important;
}
.accordion-button:not(.collapsed)::after{
	filter: contrast(0%) brightness(2);
}
.rounded-custom{
	border-radius: 25px;
	overflow: hidden;
}
.figure-background{
	background-image: url('img/tour-card/background.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.blue-underline{
	border-bottom: 0.5px solid #2079C7;
}
.blue-underline:last-of-type {
	border-bottom: none;
}
.slick-dots li.slick-active button:before {
	opacity: 1;
	color: var(--color-blue);
}
.slider-tours .slick-dots li.slick-active button:before {
	opacity: 1;
	color: white !important;
}
.slider-tours .slick-dots li button:before {
	opacity: .50;
	color: #D9D9D9;
}
@media (min-width: 1650px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1570px;
	}
}
@media(max-width: 1650px){
    .fs-paragraph-2{
		font-size: 18px;
	}
}
@media(max-width: 1440px){
	.nav-link{
		font-size: 14px;
	}
	.logo{
		width: 175px;
	}
	.fs-title{
		font-size: 40px;
	}
	.fs-title-2{
		font-size: 22px;
	}
	.fs-paragraph{
		font-size: 16px;
	}
	.fs-paragraph-2{
		font-size: 14px;
	}
	
	
}
@media(max-width: 992px){
	.description-box{
		width: 100%;
	}
	.fs-title{
		font-size: 32px;
	}
	.btn{
		font-size: 16px;
		padding: 10px 50px;
	}
	.w-lg-55{
		width: 60%;
	}
	.fs-paragraph-3{
		font-size: 16px;
	}
		.truncated-text {
			display: -webkit-box;
			-webkit-line-clamp: 5;
			/* Ограничение на 5 строк */
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
}
.checkbox-custom.form-check-input:checked[type=checkbox] {
	filter: invert(1);
}
.checkbox-custom.form-check-input:checked{
	background-color: black;
}
.custom-border{
	outline-color: black;
}
@media(max-width: 768px){
	.banner-img{
		height: 500px;
	}
	.destionation-card {
		height: 400px;
		width: 100%;
		border-radius: 30px;
	}
	.testimonial-card{
		width: 100%;
	}
	.white-line{
		width: 300px;
	}
}
@media(max-width: 576px){
	.container-fluid{
		padding: 0 20px;
	}
	.container-fluid-p-sm-none{
		padding: 0 5px !important;
	}
	.fs-title{
		font-size: 24px;
	}
	.logo{
		width: 100px;
	}
	.banner-img{
		height: 400px;
	}
	.bg-wave{
		background-image: url('img/wave-mobile.png');
		margin-top: -120px;
	}
	.tour-img{
		height: 200px;
	}
	.round-left{
		border-bottom-left-radius: unset;
		border-top-right-radius: 20px;
	}
	.round-card-sm{
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.btn-banner{
		font-size: 16px;
		padding: 0 7px;
	}
	.service-img{
		height: 200px;
	}
	.testimonial-card{
		box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.11);
	}
		.white-line {
			width: 200px;
		}
	.figure-background{
		background-image: url('img/tour-card/background-mobile.png');
		background-repeat: no-repeat;
	}
		.bg-wave-2 {
			background-image: url('img/wave-mobile.png');
			background-size: cover;
			padding-bottom: 50px;
			background-repeat: no-repeat;
			margin-top: 0px;
			z-index: 3;
		}
	.m-custom{
		padding: 0;
	}
	
}
@media(max-width: 420px){
	.fs-title{
		font-size: 22px;
	}
	.btn{
		font-size: 14px;
		padding: 8px 50px;
	}
	.fs-title-2{
		font-size: 20px;
	}
	.fs-paragraph{
		font-size: 14px;
	}
	.next-service, .prev-service{
		font-size: 12px;
		outline: 1px solid white;
		padding: 0 5px;
	}
	.h-sm-250{
		height: 250px;
	}
}