:root{
	--font-family: "Kanit", sans-serif;
	--color-orange: #FF6000;
	--color-blue: #2079C7;
}
/* roots and utils*/
body{
	font-family: var(--font-family);
	font-weight: 400;
}
.container-fluid{
	padding: 0 60px;
}
.text-orange{
	color: var(--color-orange);
}
.bg-blue{
	background: var(--color-blue);
}
.fs-title{
	font-size: 60px;
}
.fs-title-2{
	font-size: 30px;
}
.fs-paragraph{
	font-size: 18px;
}
.fs-paragraph-2{
	font-size: 22px;
}
.fs-paragraph-3{
	font-size: 22px;
}
.fs-7{
	font-size: 0.9rem;
}
.fw-medium{
	font-weight: 500;
}
.btn{
	color: white;
	font-size: 18px;
	font-weight: 500;
	padding: 10px 80px;
	border: 2px solid white;
}
.h-fit-content{
	height: fit-content;
}
.w-lg-55{
	width: 55%;
}
a{
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}
.navbar-toggler:focus {
	box-shadow: none;
}
.dropdown-menu{
	--bs-dropdown-min-width: unset;
}
.dropdown-toggle::after{
	display: none;
}
/*contents*/
.main-header{
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	color: white;
}
.nav-link{
	font-size: 18px;
	color: unset;
}
.link-custom.nav-link:hover, .link-custom.nav-link:focus{
	color: rgba(255, 255, 255, 0.664);
}
.navbar-nav{
	border-bottom: 1px solid rgb(255, 255, 255);
}
.navbar-collapse {
	align-items: unset;
}
.description-box{
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
}
.bg-wave{
	background-image: url('icons/wave.svg') ;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -120px;
	z-index: 3;
	position: relative;
	padding-bottom: 150px;
}
.navbar-toggler-custom.navbar-toggler-icon{
	background-image: url('icons/codicon_menu.svg');
}
.collapse-dark.show{
	background: black;
}
.slider-buttons-box{
	z-index: 2;
	right: 5%;
	top: 65%;
}
.icons-bg{
	background: white;
	padding: 22px 20px;
	border-radius: 50%;
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);

}
.icon{
	width: 60px;
	height: 52px;
}
.btn-banner{
	background: transparent;
	color: white;
	outline: 3px solid white;
	border: none;
	border-radius: 50%;
	padding: 0 9px;
	font-size: 20px;
	z-index: 4;
}
.prev-item{
	position: absolute;
	left: 5%;
	top: 45%;
}
.next-item{
	position: absolute;
	right: 5%;
	top: 45%;
}
.round-left{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.slick-dots li button:before{
	font-size: 20px;
}
.slick-dots{
	bottom: -10px;
}
.tour-img{
	height: 100%;
}
.prev-service{
	top: 50%;
	left: 5%;
}
.next-service{
	top: 50%;
	right: 5%;
}
.service-description{
	z-index: 6;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
.service-title{
	top: 30%;
	z-index: 6;
	left: 50%;
	transform: translate(-50%, -50%);
}
.destionation-card{
	height: 500px;
	width: 90%;
	border-radius: 30px;
}
.btn-blue{
	color: white;
	font-weight: 200;
	background: var(--color-blue);
	outline: none;
	border: none;
	border-radius: 100px;

}
.btn-blue:hover{
	background: var(--color-orange);
	color: white;
}
.testimonial-card{
	width: 90%;
	border-radius: 30px;
	box-shadow: 0 0 5px 2px #2079c7;
	padding: 30px;
	text-align: center;
}
.servise{
	margin-top: -70px;
    z-index: 10;
    position: relative;
}
.prev-card, .next-card{
	color: var(--color-orange);
	outline: 3px solid var(--color-orange);
	position: absolute;
}
.prev-card{
	right: 8%;
	top: 4%;
}
.next-card{
	right: 4%;
	top: 4%;
}
.footer-nav-title{
	font-weight: 600;
	font-size: 20px;
	color: white;
}
.footer-link{
	color: white;
	font-size: 18px;
	font-weight: 200;
	text-decoration: none;
}
.footer-link:hover{
	color: #74BEFF;
	text-decoration: underline;
}
.banner-title-box{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.white-line{
	height: 1px;
	background-color: #D9D9D9;
	width: 540px;
}
@media(max-width: 1650px){
    .fs-paragraph-2{
		font-size: 18px;
	}
}
@media(max-width: 1440px){
	.nav-link{
		font-size: 14px;
	}
	.logo{
		width: 175px;
	}
	.fs-title{
		font-size: 40px;
	}
	.fs-title-2{
		font-size: 22px;
	}
	.fs-paragraph{
		font-size: 16px;
	}
	.fs-paragraph-2{
		font-size: 14px;
	}
	
	
}
@media(max-width: 992px){
	.description-box{
		width: 100%;
	}
	.fs-title{
		font-size: 32px;
	}
	.btn{
		font-size: 16px;
		padding: 10px 50px;
	}
	.w-lg-55{
		width: 60%;
	}
}
@media(max-width: 768px){
	.banner-img{
		height: 500px;
	}
	.destionation-card {
		height: 400px;
		width: 100%;
		border-radius: 30px;
	}
	.testimonial-card{
		width: 100%;
	}
	.white-line{
		width: 300px;
	}
}
@media(max-width: 576px){
	.container-fluid{
		padding: 0 20px;
	}
	.container-fluid-p-sm-none{
		padding: 0 5px !important;
	}
	.fs-title{
		font-size: 24px;
	}
	.logo{
		width: 100px;
	}
	.banner-img{
		height: 400px;
	}
	.bg-wave{
		background-image: url('img/wave-mobile.png');
	}
	.tour-img{
		height: 200px;
	}
	.round-left{
		border-bottom-left-radius: unset;
		border-top-right-radius: 20px;
	}
	.round-card-sm{
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.btn-banner{
		font-size: 16px;
		padding: 0 7px;
	}
	.service-img{
		height: 200px;
	}
	.testimonial-card{
		box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.11);
	}
		.white-line {
			width: 200px;
		}
	
}
@media(max-width: 420px){
	.fs-title{
		font-size: 22px;
	}
	.btn{
		font-size: 14px;
		padding: 8px 50px;
	}
	.fs-title-2{
		font-size: 20px;
	}
	.fs-paragraph{
		font-size: 14px;
	}
	.next-service, .prev-service{
		font-size: 12px;
		outline: 1px solid white;
		padding: 0 5px;
	}
	.h-sm-250{
		height: 250px;
	}
}